# Terraform local state and caches
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
crash.*.log

# Local variable files
*.tfvars
*.tfvars.json

# Local overrides
override.tf
override.tf.json
*_override.tf
*_override.tf.json
**/.terraform/*
*.tfstate

#task2
terraform.tfvars
*.tfvars
.terraform/
.terraform.lock.hcl

#for app
.DS_Store

#general variables
variables.tf

todo-secret.yaml
aws_variables.tf
gcp_variables.tf
Invinciblecloud.pem
rohith-key.pem
k3s.yaml