# Terraform local state and caches
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
crash.*.log

# Local variable files
*.tfvars
*.tfvars.json

# Local overrides
override.tf
override.tf.json
*_override.tf
*_override.tf.json
**/.terraform/*
*.tfstate
