# AWS-specific Helm values
# Use with: helm install -f values.yaml -f values-aws.yaml invincible-app ./k8s/charts/invincible-app

awsDbHost: "rohith-task2-postgres.c8h024yc0oya.us-east-1.rds.amazonaws.com"
awsDbPort: "5432"

image:
  tag: "latest"
  
replicaCount: 2

service:
  type: NodePort  # K3s uses NodePort instead of LoadBalancer
  port: 8000
  targetPort: 8000

resources:
  limits:
    cpu: 200m
    memory: 256Mi
  requests:
    cpu: 100m
    memory: 128Mi

nodeSelector:
  kubernetes.io/arch: amd64
