name: 'terraform'

on:
  push:
    branches:
      - main

permissions:
  id-token: write

jobs:
  terraform:
    name: 'terraform'
    runs-on: ubuntu-latest
    environment: production
    defaults:
      run:
        shell: bash
        working-directory: .

    steps:
      # Get AWS Credentials
      - name: 'AWS Credentials'
        uses: aws-actions/configure-aws-credentials@v5
        with: 
          aws-region: us-east-1
          role-to-assume: arn:aws:iam::759775733638:role/Github_Workflows
      
      # Clone the repo
      - name: Checkout
        uses: actions/checkout@v6
      
      - name: Setup terraform
        uses: hashicorp/setup-terraform@v3

      - name: init
        run: terraform init

      - name: format
        run: terraform fmt -check

    